h1{
    background-color: black;
    color:white;
    font-family:cursive;
    text-align: left; 
}

h2{
    background-color: rebeccapurple;
    color:white;
    font-family:sans-serif;
    font-style:italic;
    font-weight:lighter;
    text-align: center; 
}

h3{
    background-color: rgb(76, 110, 173);
    color:rgb(54, 5, 54);
    font-family:monospace;
    font-weight:lighter;
    text-align: right; 
    text-decoration:underline;
}

